* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lp-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #4f5d61;
  font-family: "Comfortaa", cursive;
}

.lp-container .shadow-effect {
  content: "";
  position: absolute;
  left: 45%;
  transform: translate(-50%);
  width: 300px;
  height: 20px;
  bottom: 8%;
  background-color: rgba(0, 0, 0, 0.7);
  filter: blur(1.5rem);
}

.lp-container .menu {
  perspective: 1000px;
  width: 400px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(1.5);
}

.lp-container .menu .menu-box {
  content: "";
  align-self: center;
  width: 200px;
  height: 70px;
  transform: rotateX(-15deg) rotateY(25deg);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  perspective: 2000px;
  background-color: #3a4257;
  transform-style: preserve-3d;
  margin: 2px 0;
  transition: transform 750ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  position: relative;
}

.lp-container .menu .menu-box:nth-of-type(1) {
  z-index: 10;
}

.lp-container .menu .menu-box:nth-of-type(2) {
  z-index: 9;
}

.lp-container .menu .menu-box:nth-of-type(3) {
  z-index: 8;
}

.lp-container .menu .menu-box:nth-of-type(4) {
  z-index: 7;
}

.lp-container .menu .menu-box .top {
  transform: translateX(-1px) translateZ(-34px) translateY(-35px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

.lp-container .menu .menu-box .bottom {
  transform: translateX(0) translateZ(-35px) translateY(35px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

.lp-container .menu .menu-box .top,
.lp-container .menu .menu-box .bottom {
  position: absolute;
  content: "";
  background-color: #363d51;
  width: 200px;
  height: 70px;
}

.lp-container .menu .menu-box::before {
  background-color: #363d51;
  transform: translateX(-100px) translateZ(-34px) rotateX(0deg) rotateY(-90deg);
  width: 70px;
  height: 70px;
  content: "";
}

.lp-container .menu .menu-box:is(:hover, :active) {
  transform: translateX(50px) translateZ(-20px) translateY(-5px) rotateX(-15deg) rotateY(25deg);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  background-color: #798c92;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.lp-container .menu .menu-box:is(:hover, :active)::before {
  transition: background-color 0s ease;
  background-color: #6f8186;
}

.lp-container .menu .menu-box .menu-item {
  font-size: 1em;
  position: absolute;
  width: 50%;
  text-align: center;
  align-self: center;
  justify-self: center;
  color: #f0ddbc;
}

@keyframes moveElement {
  0% {
    transform: translateX(0px) translateZ(0px) translateY(0px) rotateX(-15deg) rotateY(25deg);
  }
  50% {
    transform: translateX(50px) translateZ(-20px) translateY(-5px) rotateX(-15deg) rotateY(25deg);
  }
  100% {
    transform: translateX(0px) translateZ(0px) translateY(0px) rotateX(-15deg) rotateY(25deg);
  }
}

@media screen and (max-width: 400px) {
  .menu {
    margin-left: 40px;
    scale: .7;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    margin-left: 40px;
    scale: .8;
  }
}
